version: '3.7'
networks:
  fs-net:
    driver: bridge
services:
  test:
    image: ghcr.io/datakaveri/fs-test:latest
    environment: 
      - LOG_LEVEL=INFO
    volumes:
      - /home/ubuntu/configs/4.0.0/fs-config-test.json:/usr/share/app/secrets/all-verticles-configs/config-dev.json
      - /home/ubuntu/configs/4.0.0/keystore-file.jks:/usr/share/app/secrets/keystore-file.jks
      - ./docker/runTests.sh:/usr/share/app/docker/runTests.sh
      - ./example-configs/:/usr/share/app/example-configs
      - ./src/:/usr/share/app/src
      - ${WORKSPACE}:/tmp/test
      - $PWD:$PWD -w $PWD 
      - /var/run/docker.sock:/var/run/docker.sock
    command: bash -c "docker/runTests.sh"
    network_mode: host

  integTest:
    image: ghcr.io/datakaveri/fs-depl:latest
    environment:
      - LOG_LEVEL=INFO
    volumes:
      - /home/ubuntu/configs/4.0.0/fs-config-test.json:/usr/share/app/secrets/all-verticles-configs/config.json
      - /home/ubuntu/configs/4.0.0/keystore-file.jks:/usr/share/app/secrets/keystore-file.jks
    command: bash -c "exec java $$FS_JAVA_OPTS  -Dvertx.logger-delegate-factory-class-name=io.vertx.core.logging.Log4j2LogDelegateFactory -jar ./fatjar.jar  --host $$(hostname) -c secrets/all-verticles-configs/config.json"
    ports:
      - "8443:8443"
    networks:
      - fs-net
